/*
.content_wrapper .container-fluid,
.content_wrapper .row,
.content_wrapper .content_left {
	height: 100%;
}*/


@font-face {
	src: url('../fonts/Edo.ttf');
	font-family: Edo;
}

@font-face {
	src: url('../fonts/Edosz.ttf');
	font-family: Edosz;
}

@font-face {
	src: url('../fonts/BrandonGrotesque-Regular.ttf');
	font-family: BrandonGrotesque-Regular;
}

@font-face {
	src: url('../fonts/SuiGeneRisRg.ttf');
	font-family: SuiGeneRisRg;
}

.content_wrapper .content_left {
	background-color: #000;
	padding-left: 3%;
	padding-top: 24px;
	width: 31%;
}

.content_wrapper .content_logo {
	padding-bottom: 70px;
}

.content_wrapper .content_logo img {
	max-width: 435px;
	width: 100%;
}

.content_wrapper .content_bottom_row {
	height: 100%;
	padding-top: 26rem;
}

.content_wrapper .content_bottom_row .right {
	position: absolute;
	top: 24rem;
	right: -10rem;
	z-index: 1;
}

.content_wrapper .content_bottom_row ul {
	list-style-type: none;
}

.content_wrapper .content_bottom_row ul a {
	color: #fff;
	font-family: SuiGeneRisRg;
	font-size: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
	margin-bottom: 54px;
}

.content_wrapper .content_bottom_row ul li:first-child a {
	margin-left: 25px;
}

.content_wrapper .content_bottom_row ul li:last-child a {
	color: #828687;
}

.content_wrapper .content_bottom_row ul a .big_number {
	font-size: 86px;
	line-height: 70px;
	margin-right: 15px;
}

.content_wrapper .row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.content_wrapper .row .no-float {
  float: none;
}





.content_wrapper .content_right {

}